@font-face {
  font-family: 'Plumb';
  src: url('/fonts/plumb-bl-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Plumb';
  src: url('/fonts/plumb-bo-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Plumb';
  src: url('/fonts/plumb-re-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
