@font-face {
  font-family: 'Plumb';
  src: url('/fonts/plumb-bl-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Plumb';
  src: url('/fonts/plumb-bo-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Plumb';
  src: url('/fonts/plumb-me-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Plumb';
  src: url('/fonts/plumb-re-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
