main {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Plumb', sans-serif;
  color: var(--text-color);
  margin: 0 auto;
  max-width: 1280px;
}

main p {
  margin: 1.3em 0;
}

main a {
  color: var(--link-color);
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main details summary::-webkit-details-marker,
main details summary::marker {
  display: none;
  content: '';
}

main hr {
  border-top: 1px solid var(--border-color);
  border-left: 0;
  margin: 9px 0
}

main h2 {
  font-size: 27px;
}

[data-pc-section="input"] {
  -webkit-appearance: auto;
}

[data-pc-name="radiobutton"] {
  display: flex;
  align-items: center;
}